{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="black" style="display: flex; justify-content: space-between; align-items: center; border-radius: 5px;">
        <h2 class="white-text">About the developer &HorizontalLine;</h2>
        <h2 class="red-text">Shashwat</h2>
        <h2 class="blue-text">Pritish</h2>
    </div>

    <div class="gray">
        <p>I am Shashwat Pritish. I am the developer of this awesome app iCoder. The process is very long. It takes 1 week to build this full website with backend like showing posts, deleting post, reading post etc <br>
        I designed the add post page first and then show it to posts page. <br>
        Let me introduce my self &HorizontalLine;&HorizontalLine;<br>
        <i>My name is Shashwat Pritish. <br>
        I am 10 years old at the time of designing this website. <br>
        I am a developer and I develop apps like this, its me hobby. <br>
        I have a youtube channel <a href="https://www.youtube.com/@pritishacademy">Pritish Academy</a>.
    <br></i>
    Really the creation of this project was a very challenging task
        </p>
    </div>

    <div class="author" style="display: flex;justify-content: flex-end;">
        &HorizontalLine; Shashwat Pritish
    </div>
</div>
{% endblock body %}